[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/santhoshreddyd054
[access "refs/for/refs/*"]
	read = group user/santhoshreddyd054
	push = group user/santhoshreddyd054
	label-Code-Review = -2..+2 group user/santhoshreddyd054
	label-Verified = -1..+1 group user/santhoshreddyd054
	rebase = group user/santhoshreddyd054
	removeReviewer = group user/santhoshreddyd054
	submit = group user/santhoshreddyd054
[access "refs/heads/*"]
	read = group user/santhoshreddyd054
	create = group user/santhoshreddyd054
	push = +force group user/santhoshreddyd054
	pushMerge = group user/santhoshreddyd054
[access "refs/tags/*"]
	push = group user/santhoshreddyd054
	push = +force group user/santhoshreddyd054
